<div class="container">
  <h1>Bookmarks</h1>

  <% if @bookmarks.any? %>
    <% @bookmarks.each do |bookmark| %>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2 mb-2">
              <div class="d-flex align-items-center">
                <%= image_tag bookmark.library.user.avatar.url, class: "avatar-sm" %>
                <strong><p class="m-1"><%= bookmark.user.name %></p></strong>
              </div>
            </div>
            <%= link_to library_path(bookmark.library.id), class: "text-decoration-none" do %>
              <div class="">
                <h3 class="d-flex align-items-center sidebar-link" ><%= bookmark.library.name %></h3>
              </div>
            <% end %>
          </div>
          <div class="row">
            <% bookmark.library.photos.limit(5).each do |image| %>
              <div class="col-md-2">
                <div class="">
                  <%= link_to library_path(bookmark.library.id) do %>
                    <div data-controller="card-text" data-action="mouseover->card-text#bookEnable mouseout->card-text#bookDisable" data-card-text-target="card" style="position: relative;">
                      <%= cl_image_tag image.key, class: "card-img", width: 200, crop: :lfill %>
                      <div class="card-gradient"></div> <!-- Add a div for the gradient overlay -->
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <hr> <!-- Add spacing between bookmarks -->
    <% end %>
  <% else %>
    <p>No bookmarks found.</p>
  <% end %>

  TODO: fix the gradient class on hover
</div>
