<div class="container">
  <h1>Bookmarks</h1>

  <% if @bookmarks.any? %>
    <% @bookmarks.each do |bookmark| %>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2 mb-2">
              <div class="d-flex align-items-center">
                <%= image_tag bookmark.library.user.avatar.url, class: "avatar-sm" %>
                <strong><p class="m-1"><%= bookmark.user.name %></p></strong>
              </div>
            </div>
            <div class="">
              <h3 class="d-flex align-items-center"><%= bookmark.library.name %></h3>
            </div>
          </div>
          <div class="row">
            <% bookmark.library.photos.limit(3).each do |image| %>
              <div class="col-md-4">
                <div class="card-gradient" data-controller="card-text" data-action="mouseover->card-text#toggle mouseout->card-text#toggle" data-card-text-target="card">
                  <%= link_to library_path(bookmark.library.id) do %>
                    <%= cl_image_tag image.key, class: "card-img", width: 600, crop: :lfill %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <hr> <!-- Add spacing between bookmarks -->
    <% end %>
  <% else %>
    <p>No bookmarks found.</p>
  <% end %>

  TODO: fix the gradient class on hover
</div>
