<div class="container">
  <div class="row">
    <div class="col-md-4 text-center profile-info">
      <%= cl_image_tag current_user.avatar.key, class: "avatar-profile", alt: "" %>
      <h1><%= @user.name %></h1>
      <p><%= @user.email %></p>
      <div class="">
        <%= link_to edit_user_registration_path, class: "edit-profile-button" do %>
          <i class="fa-solid fa-pen icon-center"></i>
          Edit Profile
        <% end %>
        <%= link_to likes_path(current_user), class: "likes-page-button" do %>
          <i class="fa-solid fa-heart icon-center"></i>
          My Likes
        <% end %>
        <%= link_to remove_all_likes_path(current_user), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete all likes?" }, class: "delete-likes-button" do %>
          <i class="fa-solid fa-trash icon-center"></i>
          Delete All Likes
        <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <h2>Your Libraries</h2>
      <ul>
        <% @libraries.each do |library| %>
          <li><%= library.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
