<div class="text-center">
  <div>
    <h1><%= @library.name %></h1>
  </div>

  <% @library.photos.each do |photo| %>
    <div data-controller="api-fetch" data-api-fetch-key-value="<%= photo.key %>">
      <%= cl_image_tag photo.key, width: 400, height: 300, crop: :fill %>

      <% if photo.ai_check == true %>
        <p>Image is AI</p>
      <% elsif photo.ai_check == false %>
        <p>Image is human</p>
      <% else %>
        <p>Image not scanned</p>
      <% end %>
    </div>
  <% end %>
  <%= link_to 'Scan Library', run_scan_library_path %>
  <%= link_to 'Back to Libraries', libraries_path %>
  <%= button_to 'Delete Library', library_path(@library), method: :delete, data: { confirm: 'Are you sure you want to delete this library?' }, class: "btn btn-warning" %>
</div>
