<div class="sidebar" data-controller="sidebar" data-sidebar-target="sidebar" id="sidebar">
  <div class="sidebar-item">
    <h3>Library Info</h3>
    <p>Library Name: <%= @library.name %></p>
    <p>Library Description: <%= @library.description %></p>
    <p>Library Created: <%= @library.created_at.strftime("%B %d, %Y") %></p>
    <p>Library Updated: <%= @library.updated_at.strftime("%B %d, %Y") %></p>
  </div>
  <div class="sidebar-item">
    <h3>Library Owner</h3>
    <p>Owner Name: <%= @library.user.name %></p>
    <p>Owner Email: <%= @library.user.email %></p>
  </div>
  <div class="sidebar-item">
    <h3>Library Photos</h3>
    <p>Number of Photos: <%= @library.photos.count %></p>
    <p>Number of AI Photos: <%= @library.photos.where(ai_check: true).count %></p>
    <p>Number of Human Photos: <%= @library.photos.where(ai_check: false).count %></p>
    <p>Number of Unscanned Photos: <%= @library.photos.where(ai_check: nil).count %></p>
  </div>
</div>

<div class="container">
  <div class="">
    <div class="row">
      <div class="col d-flex">
        <%= cl_image_tag @library.user.avatar.key, class: "avatar-library", crop: :fill %>
        <p><%= @library.user.name.strip %></p>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h1><%= @library.name %></h1>
          <p><em style="color: darkgrey;">"<%= @library.description.strip %>"</em></p>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <%# TODO: add a hover class to reveal image info %>

    <div class="row">
      <% @library.photos.each_slice(2) do |photos| %>
        <div class="col-md-6">
          <% photos.each do |photo| %>
            <div class="card d-flex justify-content-between mb-3">
              <div class="<%= 'is-ai' if photo.ai_check == true %>">
                <%= link_to library_item_path(@library, photo.id) do %>
                  <%= cl_image_tag photo.key, class: "card-img", width: 600, crop: :lfill %>
                  <div class="card-img-overlay">
                    <% if photo.ai_check == true %>
                      <p class="show-card-text">Image is AI</p>
                    <% elsif photo.ai_check == false %>
                      <p class="show-card-text">Image is human</p>
                    <% else %>
                      <p class="show-card-text">Image not scanned</p>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if @library.photos.any? { |photo| photo.ai_check.nil? } %>
      <%= link_to 'Scan Library', run_scan_library_path %>
    <% end %>
    <%= link_to 'Back to Libraries', libraries_path %>
    <%= button_to 'Delete Library', library_path(@library), method: :delete, data: { confirm: 'Are you sure you want to delete this library?' }, class: "btn btn-warning" %>
  </div>
</div>
