<div class="container">
  <div class="">
    <div class="row">
      <div class="col d-flex">
        <%= cl_image_tag @library.user.avatar.key, class: "avatar-library", crop: :fill %>
        <p><%= @library.user.name.strip %></p>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <div class="text-center">
          <h1><%= @library.name %></h1>
          <p><em style="color: darkgrey;">"<%= @library.description.strip %>"</em></p>
        </div>
      </div>
      <div class="col"></div>
    </div>


    <div class="row">
      <% @library.photos.each_slice(2) do |photos| %>
        <div class="col-md-6">
          <% photos.each do |photo| %>
            <div class="d-flex justify-content-between">
              <%= link_to library_item_path(@library, photo.id) do %>
                <%= cl_image_tag photo.key, class: "card-image p-3", width: 600, crop: :lfill %>
              <% end %>
              <% if photo.ai_check == true %>
                <p class="">Image is AI</p>
              <% elsif photo.ai_check == false %>
                <p class="">Image is human</p>
              <% else %>
                <p class="">Image not scanned</p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= link_to 'Scan Library', run_scan_library_path %>
    <%= link_to 'Back to Libraries', libraries_path %>
    <%= button_to 'Delete Library', library_path(@library), method: :delete, data: { confirm: 'Are you sure you want to delete this library?' }, class: "btn btn-warning" %>
  </div>
</div>
